<div class=" container">
  <div class="row">
    <ng-container *ngFor="let item of allproducts | filter:searchKey:'name'">
      <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h5 class="itemdata">{{item.name}}</h5>
        <p class="itemdata">{{item.description | slice:  0:50}}....</p>
        <p><strong>Price: €</strong>{{item.price}}</p>

        <p class="itemdata">Rate:{{item.rate}}</p>
        <ngb-rating [rate]="item.rate" [max]="5" [readonly]="true"></ngb-rating>
        <p>{{item.category}}</p>
        <button class="btn btn-primary" >add to cart</button>
      </div>
    </ng-container>
  </div>

</div>
