<div class="P-select-box" [class.disabled]="disable" app-clickOutside (clickOutside)="close()">
  <div class="P-select" (click)="toggle()" [class.G-error]="error">
    <div class="P-select-title">
      <p [class.selected]="value || value === 0 || value === false">{{ selectedItem?.name || placeholder }}</p>
    </div>
    <i class="icon-Dropdown-2 P-select-title-icon"></i>
  </div>
  <div class="P-select-options" [class.show]="isOpen">
    <div class="P-select-option"
         *ngFor="let item of list; let index = index"
         [class.P-active]="isSelected(item)"
         [class.P-disabled-row]="isDisabled(item)"
         (click)="change(item)">
      <p class="G-flex G-justify-between G-align-center">{{item.name}}</p>
    </div>
  </div>
</div>

