
$input-height           : 45px;
$input-border-radius    : 0;
$lighter-gray : #ececec;
$lighter-gray : #ececec;
$black        : #1D1D1D;
$white        : #ffffff;
$gray-dark    : #8E8E8E;
$gray         : #A2A3AD;
$light        : #F3F4F5;
$lighter-gray : #ececec;
$light-gray   : #cccccc;
$green        : #0DB691;
$light-green  : #2C9D4A;
$red          : #E6374C;
$blue         : #396AFF;
$dark-blue    : #192041;
$el-blue      : #4FDDD9;
$light-red    : #F60065;
$yellow       : #FFCA65;
$light-yellow : #fbc43a;
$orange       : #F47421;
$purple       : #EE00FF;
:host {
  width : 100%;
}

.P-select-box {

  width         : 100%;
  height        : $input-height;
  border-radius : $input-border-radius;
  position      : relative;

  &.disabled {

    .P-select {
      cursor: initial;
    }
  }

  .P-select {

    width            : 100%;
    height           : 100%;
    position         : relative;
    border-radius    : $input-border-radius;
    cursor           : pointer;
    background-color : $white;
    border        : 1px solid gray;

    p {
      user-select : none;
    }

    .P-select-title {

      padding-left  : 10px;
      padding-right : 20px;
      position      : relative;
      top           : 50%;
      transform     : translateY(-50%);

      p {
        white-space   : nowrap;
        text-overflow : ellipsis;
        overflow      : hidden;
        color         : #838383;

        &.selected {
          color : $black;
        }
      }
    }

    .P-select-title-icon {

      width     : 10px;
      height    : 10px;
      position  : absolute;
      top       : 50%;
      right     : 10px;
      transform : translateY(-50%);
      font-size : 10px;
    }
  }

  .P-select-options {
    width            : calc(100% + 1px);
    min-height       : 50px;
    max-height       : 180px;
    padding          : 5px 0;
    border           : 1px solid $lighter-gray;
    border-radius    : $input-border-radius;
    display          : none;
    overflow-x       : hidden;
    overflow-y       : auto;
    position         : absolute;
    z-index          : 5;
    background-color : $white;

    &.show {
      display : block;
    }

    .P-select-option {

      width         : 100%;
      height        : auto;
      padding       : 8px 4px;
      margin-bottom : 5px;
      cursor        : pointer;

      i {
        font-size : 18px;
        opacity   : 0;
      }

      &:hover, &.P-active {
        background-color : $light;

        i {
          opacity : 1;
        }
      }

      &.P-disabled-row {
        cursor           : initial;
        background-color : transparent;

        p {
          color : $lighter-gray;
        }
      }
    }
  }
}
