<div class="container mt-5">

  <div *ngIf="cart$.length===0">
    <p>There are noe items in your cart</p>
  </div>

  <div *ngIf="cart$.length">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cart$">
                    <th scope="row">
                      <div class="p-2">
                        <img src="https://media.istockphoto.com/photos/red-plaid-shirt-picture-id498852901?s=612x612" alt="{{item.name}}"
                             class="img-fluid" style="max-height:50px; ">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.name}}</a>
                          </h5>
                          <span class="text-muted font-weight-normal font-italic d-block">Type:Clothes</span>
                          <ngb-rating [rate]="item.rate" [max]="5" [readonly]="true"></ngb-rating>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle"><strong>{{item.price | currency:'EUR':true}}</strong></td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <i class=" fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
                        <span class="font-weight-bold"style="font-size: 1.5em">{{item.quantity}}</span>
                        <i (click)="removeFromCart()" class=" fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                      </div>
                    </td>
                      <td class="align-middle"><strong>
                        {{(item.quantity ? item.price * item.quantity : item.price) | currency: 'EUR':true}}
                      </strong></td>
                    <td class="align-middle text-center">
                      <a class="text-danger">
                        <i class="fa fa-trash" style="font-size:2em;" ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
          <app-order-totals [cartData]="cart$"></app-order-totals>
          <a routerLink="/checkout" class="btn btn-outline-primary p-2 btn-block">
            Proceed to checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
